@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;600&family=Mulish:wght@300;400;700&display=swap");
$ScissorsGradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$PaperGradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$RockGradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$LizardGradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%), hsl(189, 58%, 57%);

$DarkText: hsl(229, 25%, 31%);
$ScoreText: hsl(229, 64%, 46%);
$HeaderOutline: hsl(217, 16%, 45%);

$RadialGradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

$font-stack: "Barlow Semi Condensed", sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}
